<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capstone Project Use Public API</title>
</head>
<body>
    <div class="response-area">
        <h1>Joke of the Day:</h1>
        <p><%= joke %></p>
    </div>
    <div class="response-area">
        <h1><%=  %></h1>
    </div>
    <div class="response-area">
        <h1><%=  %></h1>
    </div>
    <div class="response-area">
        <h1><%=  %></h1>
    </div>
    <div class="response-area">
        <h1><%=  %></h1>
    </div>
    
    
</body>
</html>